<a href="{{ product.url }}" class="product-card">
  <div class="product-card-image">
    {%- if product.featured_image -%}
      <img src="{{ product.featured_image | image_url: width: 400 }}" alt="{{ product.title | escape }}" loading="lazy">
    {%- else -%}
      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>
  <h4>{{ product.title }}</h4>
  {%- if product.metafields.descriptors.subtitle != blank -%}
    <p class="product-card-meta">{{ product.metafields.descriptors.subtitle.value }}</p>
  {%- elsif product.type != blank -%}
    <p class="product-card-meta">{{ product.type }}</p>
  {%- endif -%}
  <span class="product-card-price">
    {{ product.price | money }}
    {%- if product.compare_at_price > product.price -%}
      <s>{{ product.compare_at_price | money }}</s>
    {%- endif -%}
  </span>
</a>
