{%- paginate blog.articles by 9 -%}
<div class="blog-page">
  <h1>{{ blog.title }}</h1>
  <div class="blog-grid">
    {%- for article in blog.articles -%}
      <a href="{{ article.url }}" class="blog-card">
        {%- if article.image -%}
          <div class="blog-card-image"><img src="{{ article.image | image_url: width: 600 }}" alt="{{ article.title | escape }}" loading="lazy"></div>
        {%- endif -%}
        <p class="blog-card-date">{{ article.published_at | date: '%d %B %Y' }}</p>
        <h3>{{ article.title }}</h3>
        <p>{{ article.excerpt_or_content | strip_html | truncatewords: 20 }}</p>
      </a>
    {%- endfor -%}
  </div>
  {% render 'pagination', paginate: paginate %}
</div>
{%- endpaginate -%}

{% schema %}
{ "name": "Page blog", "settings": [] }
{% endschema %}
